.header-text {
  color: #8b00c7;
  font-size: 50px;
}

.paragraph-text {
  color: #8b00c7;
  font-size: 25px;
}

.cost-text {
  color: #004db3;
  font-size: 40px;
}

.content-container {
  border: 10px solid green;
  border-left: 10px solid green;
  border-right: 10px solid green;
  padding: 40px;
  background-color: blanchedalmond;
  margin: 30px;
}

.cart-button {
  color: white;
  background-color: darkgreen;
}
